{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <h1>Post</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>タイトル</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>本文</th>
                <td>{{ post.text | raw }}</td>
            </tr>
            <tr>
                <th>作成日</th>
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>更新日</th>
                <td>{{ post.updatedAt ? post.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>状態</th>
                <td>{{ post.status == 1 ? '公開' : '非公開' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('post_index') }}">一覧へ</a>
{% endblock %}
